<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.nicogreve.de/dsl/expressions/Expressions"
			class = "de.nicogreve.dsl.expressions.expressions.ExpressionsPackage"
			genModel = "model/generated/Expressions.genmodel" />
	</extension>
</plugin>
